* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* ===== GENERAL ====== */
p {
  margin-bottom: 20px;
}

.product {
  border: 4px solid black;
  width: 50%;
  margin: 0 auto;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 20px;
}

.product-img {
  margin-bottom: 20px;
}

.product-price {
  font-size: 25px;
  margin-bottom: 20px;
}

.product-shipping {
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 15px;
}

.add-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  background-color: white;
  color: black;
  border-top: 4px solid black;
}
