/* 
  h1{}: ALL h1 tags

*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #7ea690;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /* no unit >> 1.5 * font-size >> default = 1 */
}

li {
  font-size: 20px;
}

/*text in <p> in <footer> normally are smaller than the others*/
/* decendent selectors: all elements that are children of <footer> */
/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}
/* hard to read >> use ID & class */
/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

/*  
  why we use class in this case? There is only 1 <ul> that we want with this style.
  - The reason is in the real world, we almost never use id. We always use class to prepare for the future 
*/
.related {
  list-style: none;
}

/* in practice, we mostly use hexadecimal colors, and rgba when we need transparency 
- black 0, 0, 0
- white 255, 255, 255
- gray 4, 4, 4 >> #444 >> same code in between 0 & 255
*/

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #7ea690;
  border-bottom: 5px solid #7ea690;
}

/* .first-li {
  font-weight: bold;
} */

/* pseudo CLASS */
/* using pseudo class instead of setting class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* 2nd child */
li:nth-child(2) {
  color: #222;
}

/* odd || even */
li:nth-child(odd) {
  color: #111;
}

/* select <p> that is the first child of the <article> >> but because the 1st child of the <article> is the <header>, so it does not affect anything
  If we add <p> as the first child of <article>, it will work normally

  >> we should use the pseudo class in the case that all the chilren are the same tag (i.e: <ul> <li>, <ol> <li>
*/
article p:first-child {
  color: red;
}

article p:last-child {
  color: red;
}

/* styling Links */
/* we don't do this >> don't style just the <a>, but we must style based on the states of the links */
/* a {
  color: #7ea690;
} */

/* target the one which has href attribute, won't affect the <a> which does not have the href attribute */
a:link {
  color: #7ea690;
  text-decoration: none;
}

a:visited {
  color: #7ea690;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  color: yellow;
  font-style: italic;
  background-color: black;
}
